SPRING_PROFILES_ACTIVE=local

HJO2OA_LOCAL_DB_URL=jdbc:sqlserver://localhost:1433;databaseName=hjo2oa_local;encrypt=true;trustServerCertificate=true
HJO2OA_LOCAL_DB_USERNAME=sa
HJO2OA_LOCAL_DB_PASSWORD=Hjo2oa@2026!

HJO2OA_LOCAL_REDIS_HOST=localhost
HJO2OA_LOCAL_REDIS_PORT=6379
HJO2OA_LOCAL_REDIS_PASSWORD=

HJO2OA_LOCAL_RABBITMQ_HOST=localhost
HJO2OA_LOCAL_RABBITMQ_PORT=5672
HJO2OA_LOCAL_RABBITMQ_USERNAME=guest
HJO2OA_LOCAL_RABBITMQ_PASSWORD=guest

HJO2OA_LOCAL_MINIO_ENDPOINT=http://localhost:9000
HJO2OA_LOCAL_MINIO_ACCESS_KEY=minioadmin
HJO2OA_LOCAL_MINIO_SECRET_KEY=minioadmin
HJO2OA_LOCAL_MINIO_BUCKET=hjo2oa-local
